.panel-heading input {
	display: none;
}
.panel-heading .form-item {
	margin: 0;
	padding: 0;
}
.glyphicon {
	font-size: 20px;
}
.included .item {
margin: 0 10px 10px 0;
}
.included .glyphicon {
	cursor: pointer;
	font-size: 13px;
}
.breadcrumb {
	background-color: transparent;
}
.vertical-tabs.beBorder {
	background: none;
	border: none;
}
.vertical-tabs.beBorder {
	border-top: 2px solid #000;
}
.vertical-tabs.beBorder .vertical-tabs-list {
	display: none;
}
.vertical-tabs.beBorder .vertical-tabs-panes.vertical-tabs-processed fieldset {
	display: none !important;
}
.vertical-tabs.beBorder .vertical-tabs-panes.vertical-tabs-processed fieldset#edit-options {
	display: block !important;
}
.vertical-tabs.beBorder .vertical-tabs-panes {
	margin: 0;
}
.form-item.checkbox input[type="checkbox"] {
	margin-left: 0;
	margin-right: 5px;
}
.form-item.checkbox > label {
	font-weight: bold;
}
.form-item.checkbox > div label {
	font-weight: normal;
}
.field-name-field-group {
	height: 0px;
	overflow: hidden;
}

/* date picker, release seven style */
.ui-datepicker-calendar {
	border: none;
}
.ui-datepicker th {
	background: none;
}


